In [1]:
print("I love python")

I love python

In [4]:
age = 23
height = 23.8
name = "Mustapha Laba"

In [7]:
num1 = 2
num2 = 5
num3 = 6
avg = (num1 + num2 + num3)/3
"The average of {}, {}, {} is: {}".format(num1, num2, num3, avg)

'The average of 2, 5, 6 is: 4.333333333333333'

In [8]:
#Libraries or packages
import sys
print(sys.version)

3.10.12 (main, Jun 11 2023, 05:26:28) [GCC 11.4.0]

In [12]:
#select markdown or code

In [ ]:
name = "kaka"
dir(name)

In [16]:
n = 6*7
print(n)

42

In [28]:
x = 3+2*2
y = (3+2)*2
print("The value of x is {}".format(x))
print("The value of y is {}".format(y))
print("The value of x is: " + str(x))

The value of x is 7
The value of y is 10
The value of x is: 7

In [53]:
  ages=[23,45,88,43,23,45,65,45,23,45]
  print(ages[2:8])
  print(ages[::4])
  print(sum(ages))

[88, 43, 23, 45, 65, 45]
[23, 23, 23]
445

In [55]:
"love" == "love"[::-1]

False

In [60]:
#For loop
ages=[23,45,88,43,23,45,65,45,23,45]
sum_age=0
for age in ages:
  sum_age=sum_age + age

  print(sum_age)

23
68
156
199
222
267
332
377
400
445

In [59]:
#For Loop
ages=[23,45,88,43,23,45,65,45,23,45]
new_age=[]
for age in ages:
  if age > 5:
    new_age.append(age)

print(new_age)

[23, 45, 88, 43, 23, 45, 65, 45, 23, 45]

In [61]:
for i in range (1,26):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25